//File Name: aboutme.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: About Me page of the website, displays information about me (crazy, I know).
//
extends layout

block content
  h3= title
  p This is the #{title} page

  p2 My name is Mason Ferrie and I'm a computer programming student at Georgian College. I am currently employed at the Beer Store in Barrie and am starting my search for a co-op in the Computer Programming field. Please see the "Contact Me" page for more details on where to find me.