//File Name: contactme.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Contact me page, displays different ways the user can contact me.
//
extends layout

block content
  h3= title
  p This is the #{title} page

  p2 Here are some ways for you to contact me!<br>Email: masonferrie1@gmail.com<br>Mobile: 705-790-9866
  
