//File Name: error.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Incase of an error, displays the error message.
//
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}