//File Name: index.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Home page of the website, will open when user loads site.
//
extends layout

block content
  h3= title
  p Please use the Sub-Headings above to navigate the site!
