//File Name: layout.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Layout page that is used with all of the other pug pages, allows for less code in other areas.
//
doctype html
include partials/header.pug
html
  head
    //href to the Google Font I used "Bebas"
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

    include partials/footer.pug