//File Name: projects.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Projects page, displays the current projects I am currently working on.
//
extends layout

block content
  h3= title
  p This is the #{title} page

  p2 Here you will find the list of projects I have currently completed and ones that are in development:<br><br>JavaScript Personal Portfolio Website - July 5th, 2020<br>Project Management DevOps - July 2nd, 2020