extends layout

block content
  h3= title
  p This is the #{title} page

  p2 Here you will find the list of projects I have currently completed and ones that are in development:<br><br>JavaScript Personal Portfolio Website - July 5th, 2020<br>Project Management DevOps - July 2nd, 2020