//File Name: services.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Services page, displays the services I can provide from a business standpoint.
//
extends layout

block content
  h3= title
  p This is the #{title} page

  p2 These are the types of services I bring to the table:<br><br>Java<br>HTML/CSS/JavaScript<br>C++<br>SQL<br>C#