/*File Name: main.css
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Main CSS for all pages on the website. Changes font-style, size, and also adds padding to the website
*/
body {
    padding-right: 250px;
    padding-left: 250px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 50px;
}


