body {
    padding-right: 250px;
    padding-left: 250px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 50px;
}


