//File Name: footer.pug
  Author's Name: Mason Ferrie
  Website Name: Personal Portfolio
  File Description: Universal footing for each page on the website. Adds watermark.
//
footer
    hr
    p Mason Ferrie - COMP2068